@using AppBusiness.DTOs.AuthDTOs
@{
    Layout = null;
}

@model AuthLoginDTO

<head>
    <!-- Custom fonts for this template-->
    <link href="/theme/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/theme/css/sb-admin-2.min.css" rel="stylesheet">
</head>

<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-6 col-lg-6 col-md-6">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">                        
                        <div class="col-lg-12">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Admin Login Page!</h1>
                                    @if (!string.IsNullOrEmpty(ViewBag.Error))
                                    {
                                        <div class="alert alert-danger">@ViewBag.Error</div>
                                    }
                                </div>
                                <form asp-controller="Auth" asp-action="Login" class="user" method="post">
                                    <div class="form-group">
                                        <input asp-for="Email" class="form-control form-control-user"
                                               id="exampleInputEmail" aria-describedby="emailHelp"
                                               placeholder="Enter Email Address">
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <input asp-for="Password" class="form-control form-control-user"
                                               id="exampleInputPassword" placeholder="Password">
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>

                                    <button type="submit" class="btn btn-primary btn-user btn-block">
                                        Login
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="/theme/vendor/jquery/jquery.min.js"></script>
<script src="/theme/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/theme/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/theme/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="/theme/vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="/theme/js/demo/chart-area-demo.js"></script>
<script src="/theme/js/demo/chart-users-demo.js"></script>
<script src="/theme/js/demo/chart-pie-demo.js"></script>

<!-- Validation Scripts -->
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
